// Quasar Sass (& SCSS) Variables — ConexaSoft S.A.S

$primary   : #1976D2;
$secondary : #0D47A1;
$accent    : #00E5FF;

$dark      : #0D47A1;
$dark-page : #0A1628;

$positive  : #2E7D32;
$negative  : #C62828;
$info      : #1976D2;
$warning   : #F9A825;
